body {
  background-color: white;
}
.outerDiv {
  border: 1px solid black;
  border-radius: 5px;
  float: right;
  width: 35%;
}
.price {
  display: inline-block;
}
.button {
  text-align: center;
  border: 1px solid black;
  border-radius: 15px;
  width: 70%;
  height: 45%;
}
.img {
  height: 20px;
  width: 20px;
}
.desc {
  width: 75%;
}