body {
  background-color: white;
}
h1, h4 {
  margin: 0px;
  font-weight: normal;
}
.outerDiv {
  /* border: 1px solid black;
  border-radius: 5px; */
  float: right;
  width: 35%;
  margin-right: 30px;
}
.title {
  margin: 0px;
  font-weight: normal;
}
.title:hover {
  margin: 0px;
  text-decoration: underline;
}
.price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: normal;
}
.buttonbox, .specbox, .quantbox {
  text-align: center;
}
.button {
  border: 1px solid black;
  background-color: black;
  color: white;
  border-radius: 25px;
  width: 100%;
  height: 48px;
  transition: box-shadow 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.button:hover {
  border: 1px solid black;
  background-color: black;
  color: white;
  border-radius: 25px;
  width: 100%;
  height: 48px;
  box-shadow: 0px 0px 0px 2px black;
  border-radius: 25px;
  transition: box-shadow 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.sizetext, .quanttext{
  font-size: 12px;
  margin: 6px 0px 6px 0px;
}
.detailtext{
  font-size: 12px;
  margin: 0px 6px 0px 0px;
}
.desctext {
  font-size: 12px;
  margin: 0px 6px 0px 0px;
  background: linear-gradient(to top, #eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.shiptext, .carttext {
  font-size: 12px;
  font-weight: normal;
  margin: 0px;
}
.img {
  height: 30px;
  width: 32px;
  padding-right: 10px;
}
.shipbox, .cartbox {
  display: flex;
  align-items: center;
  width: 100%;
}
.desc {
  width: 100%;
}
.descheader, .detailheader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: box-shadow 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border-radius: 25px;
}
.descheader:hover, .detailheader:hover {
  box-shadow: 0px 0px 0px 12px rgba(128, 128, 128, 0.119);
  border-radius: 25px;
  background-color: rgba(128, 128, 128, 0.119);
  transition: box-shadow 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.star {
  width: 12px;
  height: 12px;
}
.specs, .quant {
  width: 100%;
  height: 48px;
  border-radius: 6px;
  border: 1px solid rgba(128, 128, 128, 0.233);
  box-shadow: 0px 0px 5px 4px rgba(128, 128, 128, 0.084);
  transition: box-shadow 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.specs:hover, .quant:hover {
  width: 100%;
  height: 48px;
  border-radius: 6px;
  border: 1px solid rgba(128, 128, 128, 0.687);
  box-shadow: 0px 0px 5px 4px rgba(128, 128, 128, 0.185);
  transition: box-shadow 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.learnmorebox {
  width: 100%;
  text-align: center;
}
.learnmore {
  font-size: 12px;
  background-color: white;
  border: white;
  border-radius: 25px;
  transition: box-shadow 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.learnmore:hover {
  box-shadow: 0px 0px 0px 10px rgba(128, 128, 128, 0.119);
  border-radius: 25px;
  background-color: rgba(128, 128, 128, 0.119);
  transition: box-shadow 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.uparrow {
  width: 12px;
  height: 6px;
  margin-right: 6px;
}
